<mat-toolbar color="primary" class="app-toobar" id="app-toobar">
     
    <a mat-button [routerLink]="''"><span>CSNOW</span></a>
    <span class="header-spacer"></span>
    <div *ngIf="isLoggedIn">
  
      <button mat-fab color="primary" [matMenuTriggerFor]="profileMenu" class="background-image"
      [ngStyle]="{'background-image': 'url(' + getPhotoURL()  + ')'}">
         <mat-icon *ngIf="getPhotoURL() === '' ">person</mat-icon> 
      </button>
      <mat-menu #profileMenu="matMenu">      
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>