<mat-card class="m-3">
    <label class="mat-headline text-primary">Users</label>

    <div class="row">
        <div class="col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Filter</mat-label>
                <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Filter"
                    #input
                />
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
        <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'30%'}">Name</th>
            <td mat-cell *matCellDef="let element" >{{ element.name }}</td>
          </ng-container>
      
          <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'30%'}">Email Address</th>
            <td mat-cell *matCellDef="let element" >{{ element.emailAddress }}</td>
          </ng-container>

          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'30%'}">Mobile Number</th>
            <td mat-cell *matCellDef="let element" >{{ element.mobileNumber }}</td>
          </ng-container>
                  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
            No matching records found. "{{ input.value }}"
            </td>
        </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</mat-card>
