<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <mat-card class="authCard">
            <mat-tab-group [selectedIndex]="selected.value" dynamicHeight mat-stretch-tabs>
                <mat-tab label="Login">
                <div class="mt-2"></div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="emailAddress" required maxlength="255"/>
                        <mat-icon matPrefix>phone</mat-icon>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" 
                        required maxlength="255" type="password"/>
                        <mat-icon matPrefix>lock_outlined</mat-icon>
                    </mat-form-field>
                    
                    <button mat-raised-button color="primary" class="w-100" type="submit">
                        Login
                    </button>
                </form>
                </mat-tab>
            
                <mat-tab label="Register">
                <div class="mt-2"></div>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name" required maxlength="255"/>
                        <mat-icon matPrefix>person</mat-icon>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="emailAddress" required maxlength="255"/>
                        <mat-icon matPrefix>email</mat-icon>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mobile</mat-label>
                        <input matInput placeholder="Mobile" formControlName="mobileNumber" required maxlength="255"/>
                        <mat-icon matPrefix>phone</mat-icon>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" 
                        required maxlength="255" type="password"/>
                        <mat-icon matPrefix>lock_outlined</mat-icon>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" 
                        required maxlength="255" type="password"/>
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-error *ngIf="registerForm.errors?.passwordNotMatch && 
                        registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
            
                    <button mat-raised-button color="primary" class="w-100" type="submit">
                        Register
                    </button>
                </form>
                </mat-tab>
            
            </mat-tab-group>
        </mat-card>
    </div>
    <div class="col-4"></div>
</div>
